<!DOCTYPE html>
<html lang="en">
<head>      
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="{{basepath}}/style/style.css">
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{basepath}}/style/medias/favicon/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{basepath}}/style/medias/favicon/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{basepath}}/style/medias/favicon/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{basepath}}/style/medias/favicon/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{basepath}}/style/medias/favicon/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{basepath}}/style/medias/favicon/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{basepath}}/style/medias/favicon/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{basepath}}/style/medias/favicon/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="{{basepath}}/style/medias/favicon/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="{{basepath}}/style/medias/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="{{basepath}}/style/medias/favicon/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="{{basepath}}/style/medias/favicon/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="{{basepath}}/style/medias/favicon/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="{{basepath}}/style/medias/favicon/#FFFFFF" />
<meta name="msapplication-TileImage" content="{{basepath}}/style/medias/favicon/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="{{basepath}}/style/medias/favicon/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="{{basepath}}/style/medias/favicon/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="{{basepath}}/style/medias/favicon/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="{{basepath}}/style/medias/favicon/mstile-310x310.png" />
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <div class="main-container">
        <header>
            {% block nav %}
            <div class="container companyname">
                <div class="row">
                    <div class="col-3">
                        <a href="index.php"><img src="{{basepath}}/style/medias/logo-coccinelle.png" class="logo" alt="logo coccinelle et cadie de course" width="403" height="317"></a>
                    </div>
                    <div class="col-9 align">
                        <a href="index.php"><h1>Company Name</h1></a>
                    </div>
                </div>
            </div>
            <div class="nav container">
                <div class="row">
                    <div class="col pagetitle">
                        <h2>{% block h2 %}{% endblock h2 %}</h2>
                    </div>
                    <div class="col">
                        {% block home %}{% endblock home %}
                    </div>
                </div>
            </div>            
            {% endblock nav %}
                {% block header %}                
                {% endblock header %}
         </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <footer>
            <p>Réalisé par <span>Vanessa KNORR</span> et <span>Clovis DAUBOURG</span><br>@Access Code School | Promo 39 (2020)</p>
        </footer>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="{{basepath}}/script/background.js"></script>
    {% block script %}
        
    {% endblock script %}
</body>
</html>