{% extends "addform.html.twig" %}
{% block title %}Modifier{% endblock title %}
{% block h2 %}Modifier{% endblock h2 %}
{% block action %}/annonces/edit/{{annonces.ann_unique_id}}{% endblock action %}
{% block surname %}{{annonces.usr_nom}}{% endblock surname %}
{% block firstname %}{{annonces.usr_prenom}}{% endblock firstname %}
{% block email %}{{annonces.usr_courriel}}{% endblock email %}
{% block phone %}{{annonces.usr_telehone}}{% endblock phone %}
{% block categoryvalue %}{{annonces.ID_categorie}}{% endblock categoryvalue %}
{% block details %}{{annonces.ann_description}}{% endblock details %}
{% block categoryname %}{{annonces.cat_libelle}}{% endblock categoryname %}
{% block img_name %}<p>Votre image déjà téléchargée : 
    {% if annonce.ann_image_url is same as ('/img/') %}
    <span>Aucune</span>
    {% else %}
    <span>{{annonces.ann_img_url}}</span>
{% endif %}.</p> {% endblock img_name %}
{% block delete %}<a href="delete.php" class="btn btn-secondary btn-block btn-bin"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 19c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5-17v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712zm-3 4v16h-14v-16h-2v18h18v-18h-2z"/></svg></a>{% endblock delete %}


{% block script %}
        
{% endblock script %}

