  {% extends "base.html.twig" %}  
 {% extends "addform.html.twig" %} 
{% block title %}Modifier{% endblock title %}
{% block h2 %}Modifier{% endblock h2 %}
{% block content %}
{% block surname %}{{annonce.usr_nom}}{% endblock surname %}
{% block firstname %}{{annonce.usr_prenom}}{% endblock firstname %}
{% block email %}{{annonce.usr_courrile}}{% endblock email %}
{% block phone %}{{annonce.usr_telehone}}{% endblock phone %}
{% block categoryvalue %}{{annonce.ID_categorie}}{% endblock categoryvalue %}
{% block details %}{{annonce.ann_description}}{% endblock details %}
{% block firstname %}{% endblock firstname %}
{% block categoryname %}{{annonce.cat_libelle}}{% endblock categoryname %}
{% block submit %}    
{% block delete %}<a href="delete.php"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 19c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5-17v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712zm-3 4v16h-14v-16h-2v18h18v-18h-2z"/></svg></a>{% endblock delete %}
{% endblock submit %}
{% endblock content %}
{% block script %}
        
{% endblock script %}

