{% extends "base.html.twig" %}
{% block title %}Acceuil{% endblock title %}
{% block h2 %}Annonces{% endblock h2 %}
{% block header %}
    <div class="container">

            <div class="row  col-9 style-header center-div toggle">
                <div class="col-3 col-xl-3 ">
                    <a class="category">Catégories</a>
                </div>
            </div>

        <div class="sidebar">
            <p class="close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg></p>
            <p>Filtrer par catégories :</p>
            <nav>
                <ul>
                    
                    <li onclick="filterSelection('all')"><a href="#">Voir toutes</a></li>
                    {% for categorie in categories %}
                            <li onclick="filterSelection('{{categorie.cat_libelle}}')"><a href="#">{{categorie.cat_libelle}}</a></li>
                    {% endfor %}
                    {# <li onclick="filterSelection('Auto-Moto')"><p >Auto-Moto</p></li> #}
                    {# <li onclick="filterSelection('Emploi')"><p >Emploi</p></li>
                    <li onclick="filterSelection('Animaux')"><p >Animaux</p></li>
                    <li onclick="filterSelection('Services')"><p >Services</p></li>
                    <li onclick="filterSelection('Vacances')"><p >Vacances</p></li>
                    <li onclick="filterSelection('Affaires pro')"><p >Affaires pro</p></li>
                    <li onclick="filterSelection('Autres')"><p >Autres</p></li> #}
                </ul>
            </nav>
        </div>    
        <form method="POST" action ="/annonces/recherche/" class="center-div">
            <div class="row">
                <div class="col">
                    <input type="search" name="search" id="search" class="search"placeholder="Rechercher">

                </div>
                <div class="col">
                    <button type="submit"  class="btn-search"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="svg-search"><path d="M23.822 20.88l-6.353-6.354c.93-1.465 1.467-3.2 1.467-5.059.001-5.219-4.247-9.467-9.468-9.467s-9.468 4.248-9.468 9.468c0 5.221 4.247 9.469 9.468 9.469 1.768 0 3.421-.487 4.839-1.333l6.396 6.396 3.119-3.12zm-20.294-11.412c0-3.273 2.665-5.938 5.939-5.938 3.275 0 5.94 2.664 5.94 5.938 0 3.275-2.665 5.939-5.94 5.939-3.274 0-5.939-2.664-5.939-5.939z"/></svg></button>
                </div>
            </div>
        </form>
        <div class="center-div position-header ">
            <a href="/annonces/ajout/" class="btn btn-danger">Déposer une annonce <span class="btn-plus"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/></svg></span></a>
        </div>
    </div>
{% endblock header %}
{% block content %}    
    <div class="row container mx-auto cont-filter inf-scroll">
        {% for annonce in annonces %}
        <div class="  col-11 col-xl-3  col-lg-4 col-md-5 col-sm-7 center-annonce offset-1 offset-xl-0 offset-lg-0 offset-md-0 filterDiv {{annonce.cat_libelle}}" >
                <div class="seeDetails">
                    <div class="img-size">
                        {% if  annonce.ann_image_url is same as ('/img/') %}                        
                        <a href="/annonces/{{annonce.ann_unique_id}}" data-id="{{annonce_unique_id}}"><p><img src="{{basepath}}/style/medias/{{annonce.cat_libelle}}.jpg" alt="" class="img-annonce"></p></a>                         
                        {% else %}
                        <a href="/annonces/{{annonce.ann_unique_id}}" data-id="{{annonce_unique_id}}"><p><img src="{{basepath}}{{annonce.ann_image_url}}" alt="" class="img-annonce"></p></a>                            

                        {% endif %}
                    </div>
                    <div class="ann-size">
                        <a href="/annonces/{{annonce.ann_unique_id}}"><h3 class="text-truncate">{{annonce.ann_titre}}</h3></a>
                        {% if annonce.ann_prix %}                        
                        <p class="price">{{annonce.ann_prix}}</p>
                        {% endif %}                   
                        <p onclick="filterSelection('{{annonce.cat_libelle}}')" class="btn btn-danger">{{annonce.cat_libelle}}</p>
                    </div>
                </div>
        </div>
        {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% for p in 1..nbpages %}
              <li class="page-item"><a class="page-link" href="/{{p}}/8">{{p}}</a></li>
          {% endfor %}
          {# <li class="page-item"><a class="page-link" href="/{{page + 1}}">{{page + 1}}</a></li> #}
          {# <li class="page-item"><a class="page-link" href="#">3</a></li> #}
        {{page}}
        </ul>
      </nav>
{% endblock content %}
{% block script %}
        <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.js"></script>
        <script src="{{basepath}}/script/script.js"></script>
{% endblock script %}